body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

}

body {
    background-color: #1e1e1e !important; 
    color: #ffffff;
    width: 100%;
    margin: 0 auto;
}

.navbar {
    background-color: #1e1e1e; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.nav-logo {
    font-size: 3rem;
    font-weight: bold;
    color: cyan;
    font-family: 'Courier New', Courier, monospace';
}

.dropdowns select {
    background-color: #333333;
    color: #ffffff;
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.dropdowns button {
    background-color: #333333; 
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.right-top {
    display: flex;
    align-items: center;
}

.bordered-para {
    border: 3px solid rgb(127, 213, 246);
    border-radius: 50%;
    color: rgb(127, 213, 246);
    padding: 5px 10px;
    margin-right: 10px;
}

.join-telegram {
    background-color: rgb(127, 213, 246); 
    color: #ffffff;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(127, 213, 246); 
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #ffffff;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3; 
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.data-table {
    width: 100%;
    border-collapse: collapse;
}

.data-table th,
.data-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #000;
}

.data-table th {
    background-color: #1e1e1e; 
    color: #fff;
}

.data-table tbody tr {
    background-color: #333; 
    padding: 12px 20px;
    border-radius: 20;
}

.data-table tbody tr:not(:last-child) {
    margin-bottom: 1px;
}

.section {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 20px; 
}

.flex-item {
    flex: 1; 
    padding: 10px; 
    color: #fff; 
    text-align: center; 
}


@media (max-width: 768px) {
    body {
        text-align: center; 
    }

    .navbar {
        flex-direction: column; 
        align-items: center; 
        padding: 10px; 
    }

    .nav-logo {
        margin-bottom: 10px; 
    }

    .dropdowns {
        width: 100%; 
        margin-bottom: 10px; 
    }

    .dropdowns select {
        width: 100%; 
        margin-bottom: 10px;
    }

    .right-top {
        flex-direction: column; 
        align-items: center;
    }

    .bordered-para {
        margin: 10px 0; 
    }

    .join-telegram {
        width: 100%; 
        margin: 10px 0; 
    }

    .switch {
        margin-top: 10px; 
    }

    .section {
        flex-direction: column; 
        align-items: center; 
        padding: 20px 10px; 
    }

    .flex-item {
        width: 100%; 
        margin-bottom: 10px; 
    }

    .data-table {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .data-table th,
    .data-table td {
        flex-basis: calc(50% - 20px);
        padding: 8px;
        text-align: center;
        margin: 10px;
        background-color: #333; 
        border-radius: 10px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3); 
    }

    .data-table th {
        background-color: #1e1e1e; 
        color: #fff;
    }
}

